*.DS_Store
*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.dylib
*.pyc
*~
*.svg
*.tar.gz
out.folded
out.perf
perf.data
/config.*
/aclocal.m4
/autom4te.cache/
/makefile.inc
/bin/
/c_api/bin/
/c_api/gpu/bin/
/tests/test
/tests/gtest/
build
SIFT1M
sift1M
perf*
*tar.gz
faiss/python/swigfaiss_avx2.swig
